
<header id="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> 
      <a class="navbar-brand" href="/admin-home"><img src="https://tip.edu.ph/assets/headerfooter/tip-logo.png" class="img-fluid" id="tiplogo" alt="OSA"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/admin-lost" class="nav-link nav-btn btn-warning">
              <span class="text-dark"><i aria-hidden="true" class="fa fa-plus text-dark"></i>&nbsp;Lost</span>
            </a>
          </li>
          <li>&nbsp;</li>
          <li class="nav-item">
            <a href="/admin-found" class="nav-link nav-btn btn-warning">
              <span class="text-dark"><i aria-hidden="true" class="fa fa-plus text-dark"></i>&nbsp;Found</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav my-auto">  
          <li class="nav-item">
            <a class="nav-link" href="/admin-dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin-inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin-archive">Archive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin-appointmentOutput">Appointment Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="/admin-users"><i class="fas fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" id="logoutButton" href="/logout">Logout</a>
          </li>       
        </ul>
      </div>
    </nav>
  </header>
