<footer class="container">
    <p class="float-right"><a href="#"><i class="fas fa-arrow-up fa-lg" style="color: #ffd43b;"></i></a></p>
    <p><center><strong><span>&copy; 2023 Office of Student Affairs Technological Institute of the Philippines, Manila</span></strong></p></center>
</footer>