<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.tip.edu.ph/assets/Uploads/TIP-INFORMAL-LOGO-04-2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Log In | Office of Student Affairs</title>
    <style>


@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

body {
    height: 100vh;
    background: linear-gradient(to bottom, lightgray, black); 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-block{
    width:100%;
    height:auto;
    padding : 82px 0;
}

.banner-sec {
    background:url(https://the-post-assets.sgp1.digitaloceanspaces.com/2022/08/TIP_thumbnail.png) no-repeat; 
    background-size:cover; 
    border-radius: 0 10px 10px 0; padding:0;
}

.container {
    border-radius: 10px; 
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

.login-sec {
    padding: 110px 30px; 
    position:relative;
}

.login-sec .copy-text {
    position:absolute; 
    width:80%; 
    bottom:20px; 
    font-size:13px; 
    text-align:center;
}

.login-sec h2 {
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px; 
    color: black;
}

.login-sec h2:after {
    content:" "; 
    width:100px; 
    height:5px; 
    background:black; 
    display:block; 
    margin-top:20px; 
    border-radius:3px; 
    margin-left:auto;
    margin-right:auto
}

.btn-block {
    background: black; 
    color:#fff; 
    font-weight:600;
}

.banner-text {
    width:70%; 
    position:absolute; 
    bottom:40px; 
    padding-left:20px;
}

.banner-text h2 {
    color:#fff; 
    font-weight:600;
}

.banner-text h2:after { 
    content:" "; 
    width:100px; 
    height:5px; 
    background:#FFF; 
    display:block; 
    margin-top:20px; 
    border-radius:3px;
}

.banner-text p {
    color:#fff;
}

@media (min-width: 1025px) {
        .h-custom-2 {
        height: 100%;
        }
}

    .alert-success {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.2em;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(81, 240, 160);
    padding: 1.3em 1em;
    width: 20em;
    border-radius: 5px;
    opacity: 0;
    z-index: 1000;
    animation: success 3.5s;
    }

        @keyframes success {
            0%, 90% {
                opacity: 1;
            }
        }

        .alert-success > p {
            color: rgb(0, 83, 0);
        }

        .alert-register {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.2em;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgb(81, 240, 160);
            padding: 1.3em 1em;
            width: 20em;
            border-radius: 5px;
            opacity: 0;
            z-index: 1000;
        }

        @keyframes register {
            0%, 90% {
                opacity: 1;
            }
        }

        .alert-register > p {
            color: rgb(0, 83, 0);
        }

        .alert-error {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.2em;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgb(255, 114, 114);
            padding: 1.3em 1em;
            width: 20em;
            border-radius: 5px;
            opacity: 0;
            z-index: 1000;
            animation: error 3.5s;
        }

        .alert-error > p {
            color: rgb(83, 0, 0);
        }

        @keyframes error {
            0%, 90% {
                opacity: 1;
            }
        }

        .link {
            font-size: 0.95em;
            color: rgb(27, 27, 27);
        }

        a {
            color: rgb(27, 27, 27);
        }

        .vh-100 {
        color: rgb(1, 18, 14);
        }
    </style>
</head>
<body>

<section class="login-block">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3">
        <a class="navbar-brand px-4 px-lg-5" style="font-weight: bolder;">OFFICE OF STUDENT AFFAIRS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="https://canvas.tip.edu.ph/">CANVAS</a></li>
            <li class="nav-item"><a class="nav-link" href="https://library.tip.edu.ph/">LIBRARY</a></li>
            <li class="nav-item"><a class="nav-link" href="https://tip-careercenter.prosple.com/">CAREER CENTER</a></li>
            <li class="nav-item"><a class="nav-link" href="https://webqc2.tip.edu.ph/portal/aris/index.php">ARIS</a></li>
          </ul>
        </div>
    </nav>
    <div class="container bg-warning" style="max-width: 30em !important;">
        <%  if(typeof user != "undefined") {
                if (user) { 
        %>
        <div class="alert-success" id="alert-success">
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px; stroke: rgb(0, 83, 0); fill: none;" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <p>Confirmation link is sent to your email.</p>
        </div>
        <% } else { %>
            <div class="alert-error" id="alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px; stroke: rgb(83, 0, 0);" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <p>Incorrect email.</p>
            </div>
        <% }} %>
	    <div class="row">
		    <div class="col-md-4 login-sec" style="min-width: 30em !important;">
		        <h2 class="text-center">FORGOT PASSWORD</h2>
		        <form class="login-form" action="/forgotPassword" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" id="email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-block" style="margin-top: 2em;">Send Confirmation</button>
                </form>
		    </div>
    </div>
</section>
    <script>
        var urlParams;
        (window.onpopstate = function () {
            var match,
                pl     = /\+/g,  // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                query  = window.location.search.substring(1);
        
            urlParams = {};
            while (match = search.exec(query))
            urlParams[decode(match[1])] = decode(match[2]);
        })();
        if (urlParams.status == "success") {
            const alert = document.getElementById("alert-success");
            alert.style.animation = "success 3.5s";
        } else if (urlParams.status == "error") {
            const alert = document.getElementById("alert-error");
            alert.style.animation = "error 3.5s";
        } else if (urlParams.status == "register") {
            const alert = document.getElementById("alert-register");
            alert.style.animation = "register 3.5s";
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>